.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App table {
  width: 50%;
  margin-top: 10px;
  background-color: #494b4c;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3d3f3f;
  border-style: solid;
  color: #f8f4f4;
}

.App table td, .App table th {
  border-width: 2px;
  border-color: #3d3f3f;
  border-style: solid;
  padding: 5px;
}

.App table thead {
  background-color: #3d3f3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
